@charset "UTF_8";

:root {
    --cor1: black;
    --cor2: rgb(88, 88, 88);
    --cor3: rgb(190, 190, 190);
    --cor4: white;
}




* {
    margin: 0%;
    padding: 0%;
}
 
header {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.411);;
}

a {
    color: var(--cor1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
}
nav {
    padding: 1px;
    background-color: var(--cor4);
}
body {
    background-color: var(--cor3);
}
main {
    max-width: 800px;
    background-color:var(--cor4);
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.411);
}
main.hubble {
    background-color: var(--cor4);
    margin: auto;
}

h1.hubble {
    text-align: center;
}


ul {
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.521);
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    
}

li {
    margin-left: 18px;
}



#secret {
    color: rgba(110, 110, 110, 0.411);
}

#secret:hover {
    color: black;
}

